
body{
  background-image: url("../img/bwme.JPG");
  background-size: cover;
}
.me3 {
  max-width: 300px;
}

.row {
  margin-left: 100px;
  display: flex;
  margin-right: 100px;
}

.column {
  flex: 25%;
  padding: 15px;
}

.kubo {
  max-width: 150px;
}

#content {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  width: 1400px;
  background-color: transparent;
}

.heading{
  color: black;
  width: fit-content;
  margin-left: 60px;
  font-weight: 300;
  background-color: rgb(159, 159, 159);
}
.body{
  margin-left: 100px;
  display: flex;
}
.column2{
  flex: 25%;
  padding: 15px;
}
.links{
  padding: 10px;
  margin-left: 60px;
  width: fit-content;
  margin-bottom: 10px;
  background-color: rgb(159, 159, 159);
}

.minor-section {
  width: fit-content;
  margin-left: 60px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(159, 159, 159);
}