/* this css file will only style the homepage of our site */

.cat-photo {
  margin: 10px;
  max-width: 500px;
}

.button {
  width: 30px;
  height: 30px;
  background-color: rgb(106, 111, 237);
  border: solid 3px rgb(0, 0, 0) ;

}