/* this css file will only style the homepage of our site */

.me3 {
  margin-top: 20px;
  margin-left: 100px;
  max-width: 300px;
}

.kubo {
  max-width: 300px;
}

.heading{
  margin-left: 120px;
}

.links{
  padding: 10px;
  margin-left: 100px;
  width: 500px;
  margin-bottom: 10px;
  border: dashed 2px #2f0938;
  background-color: #e2cee6;
}

#content {
  margin-left: 50px;
  width: 700px;
  border: dashed 2px #08481b;
  background-color: #c3e0be;
}
.minor-section {
  width: 500px;
  margin-left: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #e2cee6;
}