.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #f5d3ea;
  }

.special {
    background-color: lavender;
    border: dotted 50px rgb(176, 16, 165);
    color: rgb(77, 3, 88);
    font-weight: bold;
}