

#lab2content {
    margin: 20px;
    padding: 20px;
    border: solid 1px #e2a3cf;
    background-color: #f78bff;
  }
  
  .paragraph {
    padding: 10px; 
    margin-bottom: 10px;
    border:solid 3px #f33838;
    background-color: #f28fab;
  }