
body {
    background-color: #f6ebf7;
  }
  
  /* we can have rules apply to multiple elements at the same time with commas */
  h1,h2 {
    font-family: sans-serif;
  }
  
  /* and we can have rules that overlap other rules, both take effect */
  h1 {
    letter-spacing: 5px;
    word-spacing: 5px;
    font-size: 200%;
  }
  
  #lab2content {
    margin: 20px;
    padding: 20px;
    border: solid 1px #d24eaa;
    background-color: #f6bcfb;
  }
  
  .bioheader {
    padding: 10px; 
    margin-bottom: 10px;
    border:solid 3px #fd6a6a;
    background-color: #f28fab;
  }
  .paragraph1 {
    padding: 10px; 
    margin-bottom: 10px;
    border:solid 3px #fd6a6a;
    background-color: #f28fab;
  }

  .paragraph2 {
    padding: 10px; 
    margin-bottom: 10px;
    border:solid 3px #fd6a6a;
    background-color: #f28fab;
  }